@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
:root {
  --primaryColor: #dfa944;
  --secondarycolor: #32a287;
  --tertiaryColor: #7692ff;
  --lightBackgroundColor: #fcfcfc;
  --darkBackgroundColor: #181818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100vh;
  height: 100svh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}
header.sticky {
  background: #181818;
  border-bottom: 3px solid #32a287;
  padding-bottom: 10px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.header-wrapper .quicklinks {
  max-width: 1200px;
  width: 100%;
  text-align: right;
}
.header-wrapper .quicklinks a {
  color: #181818;
  text-decoration: none;
  transition: 0.2s ease;
  font-size: 0.7rem;
}
.header-wrapper .quicklinks a:hover {
  color: #32a287;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
nav a {
  color: #181818;
  text-decoration: none;
  transition: 0.2s ease;
}
nav a:hover {
  color: #32a287;
}
nav .logo {
  color: #181818;
  font-size: 2.1rem;
  font-weight: 600;
}
nav .logo span {
  color: #32a287;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
nav .search-field {
  position: relative;
  height: 30px;
  width: 200px;
}
nav .search-field input {
  height: 100%;
  width: 100%;
  font-size: 0.95rem;
  text-align: right;
  outline: none;
  border-radius: 5px;
  border: 2px solid #181818;
}
nav .search-field input:focus {
  border-color: #32a287;
}
nav .search-field input:is(:focus) {
  padding: 0 5px;
}
nav .search-field input:is(:focus) ~ label {
  color: #32a287;
  font-size: 0.75rem;
  transform: translateY(-120%);
}
nav .search-field label {
  position: absolute;
  top: 20%;
  left: 15px;
  color: #181818;
  pointer-events: none;
  transform: translateY(-20%);
  transition: 0.2s ease;
}